
@font-face {
    font-family: 'ZurichBT-Light';
    src: url('../../public/fonts/ZurichBT-Light.eot?#iefix') format('embedded-opentype'),  
         url('../../public/fonts/ZurichBT-Light.otf')  format('opentype'),
         url('../../public/fonts/ZurichBT-Light.woff') format('woff'),
         url('../../public/fonts/ZurichBT-Light.ttf')  format('truetype'),
         url('../../public/fonts/ZurichBT-Light.svg#ZurichBT-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Poppins-Light';
    src: url('../../public/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Poppins-Light.otf')  format('opentype'),
        url('../../public/fonts/Poppins-Light.woff') format('woff'),
        url('../../public/fonts/Poppins-Light.ttf')  format('truetype'),
        url('../../public/fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  
@font-face {
    font-family: 'Knockout-HTF47-Bantamweight';
    src: url('../../public/fonts/Knockout-HTF47-Bantamweight.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/Knockout-HTF47-Bantamweight.otf')  format('opentype'),
         url('../../public/fonts/Knockout-HTF47-Bantamweight.woff') format('woff'),
         url('../../public/fonts/Knockout-HTF47-Bantamweight.ttf')  format('truetype'),
         url('../../public/fonts/Knockout-HTF47-Bantamweight.svg#Knockout-HTF47-Bantamweight') format('svg');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'EffraLight-Regular';
    src: url('../../public/fonts/EffraLight-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/EffraLight-Regular.woff') format('woff'),
         url('../../public/fonts/EffraLight-Regular.ttf')  format('truetype'),
         url('../../public/fonts/EffraLight-Regular.svg#EffraLight-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  
@font-face {
    font-family: 'EffraHeavy-Regular';
    src: url('../../public/fonts/EffraHeavy-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/EffraHeavy-Regular.woff') format('woff'),
         url('../../public/fonts/EffraHeavy-Regular.ttf')  format('truetype'),
         url('../../public/fonts/EffraHeavy-Regular.svg#EffraHeavy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  