$color-primary         : #CC8032;
$color-white           : #fff;
$color-black           : #000;


$color-gray-80         : #808080;
$color-gray-50         : #505050;
$color-gray-ca         : #cacaca;

$color-gray-d6         : #D7D6D6;
$color-gray-e0         : #E0E0E1;


//Fonts
$ff-zurichBT        : 'ZurichBT-Light';
$ff-poppins         : 'Poppins-Light';
$ff-knockout        : 'Knockout-HTF47-Bantamweight';
$ff-effralight      : 'EffraLight-Regular';
$ff-effraheavy      : 'EffraHeavy-Regular';



$fs-nav-link        : 16px;
$fs-p-text          : 14px;