@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?9k66zh');
    src:  url('fonts/icomoon.eot?9k66zh#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?9k66zh') format('truetype'),
      url('fonts/icomoon.woff?9k66zh') format('woff'),
      url('fonts/icomoon.svg?9k66zh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-ico-menu:before {
    content: "\e90b";
    color: #505050;
  }
  .icon-ico-play .path1:before {
    content: "\e912";
    color: rgb(255, 255, 255);
  }
  .icon-ico-play .path2:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.26;
  }
  .icon-ico-play .path3:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ico-email .path1:before {
    content: "\e900";
    color: rgb(204, 128, 49);
  }
  .icon-ico-email .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ico-facebook .path1:before {
    content: "\e902";
    color: rgb(204, 128, 49);
  }
  .icon-ico-facebook .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ico-instagram .path1:before {
    content: "\e904";
    color: rgb(204, 128, 49);
  }
  .icon-ico-instagram .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ico-instagram .path3:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ico-instagram .path4:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ico-location .path1:before {
    content: "\e908";
    color: rgb(204, 128, 49);
  }
  .icon-ico-location .path2:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ico-lupa:before {
    content: "\e90a";
    color: #505050;
  }
  .icon-ico-phone .path1:before {
    content: "\e90c";
    color: rgb(204, 128, 49);
  }
  .icon-ico-phone .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ico-up .path1:before {
    content: "\e90e";
    color: rgb(204, 128, 49);
  }
  .icon-ico-up .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-ico-youtube .path1:before {
    content: "\e910";
    color: rgb(204, 128, 49);
  }
  .icon-ico-youtube .path2:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  