.page-footer{
    
    background-color: $color-gray-50;
    .footer-copyright{
        background-color: $color-gray-80;
        p{
            font-family: $ff-zurichBT;
            font-size: $fs-p-text;
            margin: 0 0 5px 0;
        }
        [class*='icon-'] {
            font-size: 36px;
            cursor: pointer;
        }
    }
    .link-text{
        color: $color-gray-ca;
        letter-spacing: 1px;
        font-size: $fs-nav-link;
    }

    .border-right{
        position: relative;
        &:before {
            content: "";
            width: 2px;
            height: 132px;
            position: absolute;
            background: #777777;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .logo-footer {
        text-align: center;
        margin: 0 auto;
        img {
            max-width: 125px;
            margin-left: 30px;
        }
    }
    ul{
        margin-top: 0;
    }
    
    
}



