.card{
    max-height: 272px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
    }
    &-title{
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 0;
        color: $color-white;
        margin-left: 35px;
        max-width: 100px;
        text-align: left;
        letter-spacing: 1px;
        letter-spacing: 1px;
        font-size: 50px !important;
        line-height: .8;
        margin-bottom: 25px;
        &:before {
            content: "";
            display: block;
            width: 40%;
            height: 2px;
            background: $color-white;
            margin-bottom: 5px;
        }
        
    }
    &-imagen{
        max-width: 100%;
        height: auto;
    }
    
}
