.menu-desktop {
    position: relative;
    li{
        a{
            color: $color-gray-50;
            @include transition(all .3s ease);
            &:hover, &:hover [class*='icon-']:before {
                color: $color-gray-80;
                background-color: transparent;
            }
        }
        &:not(:last-child) {
            position: relative;
            padding: 0 38px;
        }
        &:not(:last-child) {
            a{
                font-size: $fs-nav-link;
                letter-spacing: 1px;
                &:before {
                    content: "";
                    width: 2px;
                    height: 30px;
                    background: $color-gray-d6;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
            }
        }
        &:nth-last-child(2), &:nth-last-child(2) a{
            padding-right: 0;
        }
    }
    .icon-ico-menu {
        font-size: 12px;
    }
}

